numpy
pandas
scikit-learn
matplotlib
tqdm
torch
transformers
datasets
huggingface_hub
accelerate
peft
trl==0.11.0.dev0
wandb
deepspeed
openai
# faiss-gpu
fastapi
uvicorn
pyserini
accelerate
codetiming
datasets
dill
flash-attn
hydra-core
numpy
pandas
pybind11
ray
tensordict<0.6
transformers<4.48
vllm<=0.6.3
wandb
IPython
matplotlib